.about {
  h2 {
    @include title-style;

    letter-spacing: -0.005em;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 39px;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  li {
    position: relative;

    padding-top: 76px;
    display: flex;
    justify-content: center;
    max-width: 263px;
    width: 100%;

    font-size: 22px;
    line-height: 34px;

    text-align: center;
    letter-spacing: -0.015em;

    counter-increment: number;

    &::before {
      content: "0" counter(number);
      position: absolute;
      top: 24px;

      font-weight: 700;
      font-size: 28px;
      line-height: 38px;
      color: $fancy-color;
    }
  }

  @media (max-width: $tablet-width) {
    h2 {
      margin-bottom: 6px;
    }

    ul {
      grid-template-columns: 1fr 1fr;
      column-gap: 31px;
      row-gap: 21px;
    }

    li {
      &:nth-child(2n+1) {
        justify-self: end;
      }
    }
  }

  @media (max-width: $mobile-width) {
    ul {
      grid-template-columns: auto;
      justify-content: center;
      row-gap: 35px;
      margin-top: 19px;
    }

    li {
      justify-self: center;
      padding-top: 57px;

      font-size: 18px;
      line-height: 34px;

      &::before {
        top: 11px;
      }

      &:nth-child(2n+1) {
        justify-self: center;
      }
    }
  }
}

.about__wrapper {
  @include container;

  padding-top: 30px;
}
