.intro {
  position: relative;

  min-height: 825px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;

    top: 0;
    left: 0;

    width: 100%;
    min-height: 100%;

    background-color: $basic-black-light;
    background-image: url(".././img/intro-bg-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url(".././img/intro-bg-desktop@2x.jpg");
    }
  }

  @media (max-width: $tablet-width) {
    min-height: auto;

    &::before {
      min-height: 49.8%;

      background-image: url(".././img/intro-bg-tablet@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url(".././img/intro-bg-tablet@2x.jpg");
      }
    }
  }

  @media (max-width: $mobile-width) {
    &::before {
      min-height: 52%;

      background-image: url(".././img/intro-bg-mobile@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url(".././img/intro-bg-mobile@2x.jpg");
      }
    }
  }
}

.intro__wrapper {
  @include container;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;

  margin-top: 37px;

  max-width: 880px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;

    margin-top: 49px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 35px;
  }
}

.intro__logo {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.intro__description {
  h2 {
    margin-top: 24px;
    margin-bottom: 25px;

    font-weight: 700;
    font-size: 46px;
    line-height: 64px;
    color: $basic-white;
  }

  p {
    margin-top: 0;

    font-size: 20px;
    line-height: 32px;
    color: transparentize($basic-white, 0.2);
    letter-spacing: -0.03em;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 42px;
      text-align: center;
    }

    p {
      max-width: 435px;

      font-size: 18px;
      line-height: 32px;
      text-align: center;
    }
  }

  @media (max-width: $mobile-width) {
    min-height: 210px;
  }
}

.intro__main-form {
  justify-self: end;
  padding-top: 4px;
  max-width: 327px;

  @media (max-width: $tablet-width) {
    justify-self: center;
    margin-top: 131px;
    padding-top: 0;

    max-width: 321px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 121px;
    max-width: 320px;
  }
}
