.page-main {
  flex-grow: 1;
}

.page-main__intro {
  display: flex;
  align-items: center;

  padding-top: 62px;

  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    align-items: flex-start;
  }
}

.page-main__about {
  padding-top: 121px;
  padding-bottom: 153px;

  @media (max-width: $tablet-width) {
    padding-top: 23px;
    padding-bottom: 70px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 41px;
    padding-bottom: 81px;
  }
}

.page-main__bikes {
  padding-top: 120px;
  padding-bottom: 127px;

  @media (max-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 12px;
  }
}

.page-main__video-bikes {
  padding-top: 90px;

  @media (max-width: $tablet-width) {
    padding-top: 34px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 48px;
  }
}
