.page-header {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;

  width: 100%;
}

.page-header--active {
  @media (max-width: $tablet-width) {
    .page-header__main-nav {
      display: flex;
    }

    .page-header__toggle {
      background-color: $basic-white;

      background-image: url("../../img/decor/toggle-menu-cross.svg");

      &:hover,
      &:focus {
        background-color: #f6f6f6;
      }
    }
  }
}

.page-header--nojs {
  @media (max-width: $tablet-width) {
    position: relative;
    display: flex;

    .page-header__main-nav {
      position: relative;
      display: flex;
    }

    .page-header__logo {
      justify-content: center;
    }

    .page-header__toggle {
      display: none;
    }
  }
}

.page-header__wrapper {
  @include container;

  padding-top: 21px;

  @media (max-width: $tablet-width) {
    position: relative;

    padding-top: 25px;
  }
}

.page-header__main-nav {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;

  max-width: 874px;
  width: 100%;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    display: none;

    padding-top: 78px;

    width: 100%;
    min-height: 568px;
  }
}

.page-header__logo {
  display: none;

  @media (max-width: $tablet-width) {
    display: flex;
  }
}

.page-header__toggle {
  position: absolute;
  z-index: 20;
  top: 0;
  right: 0;

  display: none;

  width: 50px;
  height: 50px;

  background-color: $fancy-color;
  background-image: url("../../img/decor/toggle-menu.svg");
  background-repeat: no-repeat;
  background-position: center;

  border: none;

  box-sizing: border-box;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $fancy-color-dark;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $tablet-width) {
    display: flex;
  }
}
