.page-main__intro {
  display: flex;
  align-items: center;

  padding-top: 62px;

  box-sizing: border-box;
}

.page-main__about {
  padding-top: 151px;
  padding-bottom: 153px;
}

.page-main__bikes {
  padding-top: 150px;
  padding-bottom: 127px;
}

.page-main__video-bikes {
  padding-top: 120px;
}
