.page-footer__contacts {
  padding-top: 121px;
  padding-bottom: 85px;

  @media (max-width: $tablet-width) {
    padding-top: 34px;
    padding-bottom: 42px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 41px;
  }
}
