.video-bikes {
  background-color: #131314;
  background-image: linear-gradient(#131314 87.8%, $basic-white 12.2%);

  h2 {
    @include title-style;

    margin-bottom: 20px;

    color: $basic-white;
  }

  p {
    margin-top: 0;
    margin-bottom: 56px;

    max-width: 340px;

    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.027em;
    color: transparentize($basic-white, 0.3);

    text-align: center;
  }
}

.video-bikes__wrapper {
  @include container;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-bikes__movie {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    display: flex;
    width: 922px;
    height: 522px;
  }

  a {
    position: absolute;
    z-index: 3;
    display: flex;

    width: 65px;
    height: 65px;

    background-color: $fancy-color;
    border-radius: 50%;

    background-image: url("../../img/decor/play-icon.svg");
    background-repeat: no-repeat;
    background-position: center;

    &:hover,
    &:focus {
      background-color: $fancy-color-dark;
    }

    &:active {
      opacity: 0.7;
    }
  }
}
