@mixin container {
  max-width: 1170px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    max-width: 1023px;
    min-width: 768px;
    padding-right: 21px;
    padding-left: 21px;
  }

  @media (max-width: $mobile-width) {
    max-width: 767px;
    min-width: 320px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

@mixin title-style {
  margin-top: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 41px;
  }
}

@mixin button {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;

  width: 100%;

  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: $basic-black;

  background-color: $fancy-color;
  border: none;
  border-radius: 6px;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $fancy-color-dark;
  }

  &:active {
    color: transparentize($basic-black, 0.4);
  }
}
